[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "vendor/github.com/rancher/kubernetes-model"]
	path = vendor/github.com/rancher/kubernetes-model
	url = https://github.com/rancher/kubernetes-model.git
[submodule "vendor/github.com/rancher/go-rancher"]
	path = vendor/github.com/rancher/go-rancher
	url = https://github.com/rancher/go-rancher.git
[submodule "vendor/github.com/codegangsta/cli"]
	path = vendor/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli.git
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure.git
[submodule "vendor/github.com/rancher/go-machine-service"]
	path = vendor/github.com/rancher/go-machine-service
	url = https://github.com/rancher/go-machine-service.git
[submodule "vendor/github.com/fsouza/go-dockerclient"]
	path = vendor/github.com/fsouza/go-dockerclient
	url = https://github.com/fsouza/go-dockerclient
[submodule "vendor/gopkg.in/check.v1"]
	path = vendor/gopkg.in/check.v1
	url = https://github.com/go-check/check.git
